<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "header" }}
    <link rel="stylesheet" href="static/css/address.css" />
    <title>GoSaveWater - Address</title>
  </head>
  <body>
    <main class="form-address">
      <h1 class="h3 mb-3 fw-normal">Create New Address</h1>
      <form id="addressForm" class="row g-3" method="post">
        <div class="col-12">
            <label class="form-label" for ="blockNumber">Block/House No.</label>
            <input class="form-control" type="text" id="blockNumber" name="blockNumber" value="{{.Address.blockNumber}}" maxlength="6">
        </div>
        <div class="col-md-6">
            <label class="form-label" for ="blockNumber">Floor No.</label>
            <input class="form-control" type="text" id="floor" name="floor" value="{{.Address.Floor}}" maxlength="6">
        </div>
        <div class="col-md-6">
            <label class="form-label" for ="blockNumber">Unit No.</label>
            <input class="form-control" type="text" id="unit" name="unit" value="{{.Address.Unit}}" maxlength="6">
        </div>
        <div class="col-12">
          <label class="form-label" for="postalCode">Postal Code</label>
          <input
            class="form-control"
            type="text"
            id="postalCode"
            name="postalCode"
            value="{{.Address.PostalCode}}"
            maxlength="6"
            required
          />
          <br/>
        <div class="col-12">
            <div class="col-12">
          <label class="form-label" for="streetName">Street Name</label>
          <input
            class="form-control"
            type="text"
            id="streetName"
            name="streetName"
            value="{{.Address.streetName}}"
            maxlength="256"
          />
          <br/>
        <div class="col-12">
          <button class="btn btn-lg btn-secondary btn-previous" onclick="history.back()">
            Previous
          </button>
          <button type="submit" class="btn btn-lg btn-primary btn-next">
            Next
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
