<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/address.css" />
    <title>GoSaveWater - Water Usage</title>
  </head>
  <body>
    <main class="form-waterusage">
      <h1 class="h3 mb-3 fw-normal">Search Usages</h1>
      <form id="waterUsageForm" class="row g-3" method="post">
      {{if .Error}}
        <div class="alert alert-danger">{{.ErrorMsg}}</div>
      {{end}}
        <div class="col-12">
            <label class="form-label" for ="accountNumber">Account Number</label>
            <input class="form-control" type="text" id="accountNumber" name="accountNumber" placeholder="Account Number">
        </div>
        <div class="col-md-6">
            <label class="form-label" for ="searchDate">Search Date</label>
            <input class="form-control" type="text" id="searchDate" name="searchDate" placeholder="YYYY-MM-DD">
        </div>
        {{if not .Error}}
          <div class="alert alert-success">Account Number:{{.Usage.accountNumber}} Date: {{.Usage.billDate}} Usage: {{.Usage.consumption}}</div>
        {{end}}
          <br/>
          <button class="btn btn-lg btn-secondary btn-previous" onclick="history.back()">
            Previous
          </button>
          <button type="submit" class="btn btn-lg btn-primary btn-next">
            Next
          </button>
        </div>
      </form>
    </main>
  </body>
</html>