<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "header" }}
    <title>GoSaveWater</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div class="welcome">
      <img src="/static/image/logo.jpeg" alt="Logo" class="" />
      <button class="btn btn-lg btn-secondary btn-previous">
        <a href="/login" class="btn">Log In</a>
      </button>
      <button class="btn btn-lg btn-primary btn-next">
        <a href="/signup" class="btn">Sign Up</a>
      </button>
    </div>
  </body>
</html>
