<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>GoSaveWater - Reward Detail</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/dashboard">GoSaveWater</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3 text-light" href="/logout">
                <i data-feather="log-out"></i>
                Sign out
            </a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">
                            <i data-feather="home"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usage">
                            <i data-feather="droplet"></i>
                            Water Usage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/edit">
                            <i data-feather="user"></i>
                            User Info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address/edit">
                            <i data-feather="map"></i>
                            Address
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Hi, {{.LoggedInUser.firstName}} {{.LoggedInUser.lastName}} <small class="text-muted fs-5">({{.LoggedInUser.pointBalance}} PTS)</small></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a class="btn btn-primary" href="/usage" role="button">
                            <i data-feather="plus"></i>
                            Add new Usage
                        </a>
                    </div>
                </div>
            </div>
            <!-- Content Start Here -->
            <div class="container w-75">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="h3 fw-normal">Reward</h1>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{.Reward.title}} ({{.Reward.redeemAmt}} PTS)</h5>
                            <p class="card-text">{{.Reward.description}} <br/>{{.Reward.quantity}} left</p>
                            {{if eq .Reward.quantity 0.0}}
                                <button type="submit" class="btn btn-primary" disabled>Fully Redeem</button>
                            {{else}}
                                <button type="submit" class="btn btn-primary">Redeem</button>
                            {{end}}
                            {{if .RewardProcessError}}
                                <br/><br/>
                                <div class="alert alert-danger">{{.RewardProcessErrorMsg}}</div>
                            {{end}}
                            {{if .RewardProcessSuccessful}}
                                <br/><br/>
                                <div class="alert alert-success">Reward redeem successful!</div>
                            {{end}}
                        </div>
                    </div>
                </form>
            </div>
            <hr class="my-4">
            <div class="container pt-3 pb-5">
                <h1 class="h2 mb-3 fw-normal">Other Rewards</h1>
                {{if .Rewards}}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {{range .Rewards}}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">{{.title}}</h5>
                                        <p class="card-text">{{.description}}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="/reward/{{.rewardID}}" class="btn btn-sm btn-success">View</a>
                                            </div>
                                            <small class="text-muted">{{.redeemAmt}} PTS</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                {{else}}
                    <div class="alert alert-warning">There are currently no offers available, check back soon!</div>
                {{end}}
            </div>
            <!-- Content End Here -->
        </main>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="/static/js/common.js"></script>

</body>
</html>
