

.form-userEdit {
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
}

.form-userEdit .form-floating:focus-within {
    z-index: 2;
}

.form-userEdit input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-userEdit input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

